extends index.pug

block content
  p
    a.button(href='/books/new') Create New Book
  form.search-form(method='get', action= '/books/search')
    label(for="searchFor") Search for:
    input(type="text", name="searchText", placeholder="Enter your search here...", id="searchFor")
    input(type='submit', value='Search')
    if data.searching
      a.button(href='/books') Home
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in data.bookData
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  ul.pagination
    li
      a(href="") 1